@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
}

.section-title-blue {
    position: relative;
}

.hero {

    object-position: top 0px left 80% !important;
}


.section-title-blue::after {
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
    height: 5px;
    width: 60px;

    background-color: #243A66;
}

.section-title-orange {
    position: relative;
}


.section-title-orange::after {
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
    height: 5px;
    width: 60px;

    background-color: #B24000;
}

.section-title-white {
    position: relative;
}


.section-title-white::after {
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
    height: 5px;
    width: 60px;

    background-color: #FFFFFF;
}

.player-wrapper {
    width: auto; /*Reset width*/
    height: auto; /*Reset height*/
}

.react-player {
    padding-top: 56.25%; /*Percentage ratio for 16:9*/
    border-radius: 15px; /*border of video turns circular*/
    overflow: hidden; /*makes border appear*/
    position: relative; /*Set to relative*/
}

.react-player > div {
    top: 0;
    position: absolute; /*Scaling will occur since parent is relative now*/
}
